<script setup>
defineProps({
  temp_data: {
    type: Array,
    required: true
  }
})
</script>

<template>
  <div class="historyChart">
    <canvas id="historyChart"></canvas>
  </div>
</template>

<script>
import Chart from 'chart.js/auto'

export default {
  data() {
    const data = this.temp_data.map(d => {
      return {
        x: d['measured_at'].format('D.M. H:mm'),
        y: d['temperature']
      }
    })
    const dataSets = [{
      label: 'Die letzten Messungen',
      data: data,
      fill: false,
      borderColor: 'rgb(75, 192, 192)'
    }]
    return {
      chartData: {
        type: 'line',
        parsing: false,
        data: {
          datasets: dataSets
        },
        options: {
          scales: {
            y: {
              suggestedMin: 10,
              suggestedMax: 30,
            }
          }
        }
      }
    }
  },
  mounted() {
    const ctx = document.getElementById('historyChart');
    new Chart(ctx, this.chartData);
  }
}
</script>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
</style>
