<script setup>
defineProps({
  temp_data: {
    type: Array,
    required: true
  }
})
</script>

<template>
  <div class="nightsHistoryChart">
    <canvas id="nightsHistoryChart"></canvas>
  </div>
</template>

<script>
import Chart from 'chart.js/auto'

export default {
  data() {
    const data = {}
    const nightHours = [20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8]
    
    for (const x of this.temp_data) {
      if(nightHours.indexOf(x.measured_at.hour()) < 0) {
        continue
      }
      const day = x['measured_at'].hour() < 9 ? x['measured_at'].subtract(1, 'day').format('D.M.') : x['measured_at'].format('D.M.')
      if(!data.hasOwnProperty(day)) {
        data[day] = []
      }
      data[day].push(x['temperature'])
    }
    const chartData = []
    Object.entries(data).forEach(([day, temperatures]) => {
        chartData.push({
          x: day,
          y: [Math.min(...temperatures), Math.max(...temperatures)]
        })
    })
    const dataSets = [{
      label: 'Die letzten Nächte',
      data: chartData,
      fill: false,
      borderColor: 'rgb(54, 162, 235)',
      backgroundColor: 'rgba(54, 162, 235, 0.5)'
    }]
    return {
      chartData: {
        type: 'bar',
        data: {
          datasets: dataSets
        },
        options: {
          scales: {
            y: {
              beginAtZero: false,
              suggestedMin: 10,
              suggestedMax: 30,
            }
          }
        }
      }
    }
  },
  mounted() {
    const ctx = document.getElementById('nightsHistoryChart');
    new Chart(ctx, this.chartData);
  }
}
</script>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
</style>
