<script>
import { ref, onMounted } from 'vue'
import dayjs from 'dayjs'
import Datepicker from '@vuepic/vue-datepicker'
// https://vue3datepicker.com/
import '@vuepic/vue-datepicker/dist/main.css'

import data from '../data/data_history.json'
import HistoryChart from './components/HistoryChart.vue'
import NightHourChart from './components/NightHourChart.vue'
import NightsHistoryChart from './components/NightsHistoryChart.vue'

const hist_data = data.map(x => {
  x['measured_at'] = dayjs(x['measured_at'])
  return x
})

export default {
  components: {
    Datepicker,
    HistoryChart,
    NightHourChart,
    NightsHistoryChart
  },
  data() {
    return {
      temp_data: hist_data
    }
  },
  setup() {
      const date = ref();

      // For demo purposes assign range from the current date
      onMounted(() => {
          const endDate = new Date();
          const startDate = new Date(new Date().setDate(endDate.getDate() - 20));
          date.value = [startDate, endDate];
      })

      const handleDate = (modelData) => {
          date.value = modelData;
          // do something else with the data
        }
      
      return {
          date,
          handleDate
      }
    }
}
</script>


<template>
  <header>
    <Datepicker v-model="date" range :enableTimePicker="false" @update:modelValue="handleDate" />
    <div class="wrapper">
      <HistoryChart :temp_data="temp_data" />
      <NightsHistoryChart :temp_data="temp_data" />
      <NightHourChart :temp_data="temp_data" />
    </div>
  </header>

  <main>
  </main>
</template>

<style>

</style>
